{% extends "adminBase.html.twig" %}
{% block title %}Project{% endblock %}

{% block body %}
    <section class="list_project_free">
        <div class="arrow-back">
            <a href="/dashboard"><img src="../assets/img-content/back.svg" alt="back"></a>
        </div>
    
        <h1 class="project">Liste des projets</h1>
        {% for p in projects %}
        <div class="list_project_free-wrap">
            <div class="list_project_free-item">
                <h3 class="h3"><a href="/freelance/project?id={{ p.id }}">{{ p.title }}</a></h3>
                <p>porté par <a href="/client?id={{ p.id_user }}">{{ p.name }}</a></p>

                {% if 3 == p.status %}
                    <div class="list_project_free-progress"><span class="round archive"></span> Archivé</div>
                {% elseif 2 == p.status %}
                    <div class="list_project_free-progress"><span class="round done"></span> Terminé</div>
                {% elseif 0 == p.status %}
                    <div class="list_project_free-progress"><span class="round nego"></span> En négociation</div>
                {% else %}
                    <div class="list_project_free-progress"><span class="round progress"></span> En cours</div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}