{% extends "adminBase.html.twig" %}
{% block title %}Client{% endblock %}

{% block body %}

   <div class="client_create">
        <div class="arrow-back">
            <a href="/clients"><img src="../assets/img-content/back.svg" alt="back"></a>
        </div>

        <form method="post" action="/add-client" enctype="multipart/form-data" class="client_create-wrap">
            
             <div class="client_create-img">
                <label class="input-img-label" for="file">+</label>
                <input id="file" class="input-img" type="file" name="file">

                <div class="client_create-img--file">
                    <img src="../assets/img-content/pers.jpg" alt="">
                </div>
                
                <p>Ajoutez un logo ou une photo pour créer votre client</p>
            </div>

             <div class="client_create-name client_create-stg">
                <input type="text" name="lastname" id="lastname" aria-label="Name" placeholder="Nom">
            </div>

            <div class="client_create-firstname client_create-stg">
                <input type="text" name="firstname" id="firstname" aria-label="Firstname" placeholder="Prénom">
            </div>

            <div class="client_create-society client_create-stg">
                <input type="text" name="company" id="company" aria-label="Society" placeholder="Société">
            </div>

            <input type="submit" class="btn" value="Ajouter">
        </form>
    </div>

{% endblock %}
