.edit-cust {
    padding: 5px !important;
}
.edit-logo {
    top: 60px;
}

.edit-firstname {
top: 35px;
}
.edit-lastname {
    top: 75px;
}
.edit-firme {
    top: 115px;
}
.edit-project {
    padding-left: 0;
}

.edit-container {
    margin-top: 180px;
}

.btn-delete {
    text-align: right;
    margin-top: 40px;
    margin-right: 20px;
}

#delete-client {
    padding: 10px 15px;
    background: $red;
    color: $white;
}

.birthdayInput{
    background:none;
}