.homefree-wrapp {
    h1{
    color: $blue;
    font-size: 30px;
    font-weight: bold;
    text-align: justify;
    width: 251px;
    height: 34px;
    margin: 35px auto 20px;
    }

    a{
        width: 107px;
        height: 17px;
        font-family: 'Asap', sans-serif;
        font-size: 15px;
        font-weight: 500;
        text-align: justify;
        color: #a7a37e;
        display:inline-block;
    }
}