/* The switch - the box around the slider */
.input_switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.input_switch input {display:none;}

/* The slider */
.input_switch span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: $red;
  -webkit-transition: .4s;
  transition: all .4s ease;
  &:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    border-radius: 50%;
    background-color: $white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

.input_switch .slider {
  background-color: $green-light;
  -webkit-transition: .4s;
  transition: .4s;
  &:before {
    transform: translateX(12px);
  }
  &:before {
    right: 2px;
  }
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}