.list_project_free {
    padding: 10px;
    margin-top:15px;

    &-item {
        padding: 12px 20px;
        border-bottom: 1px solid $grey;

        .h3 {
            padding-bottom: 3px; 
            a{
                color: $blue !important; 
                font-size: 18px; 
            }
        }
        p {
            color: $blue-light;
            font-size: 16px; 
        }
        a, a.visited, a.active {
            color: $beige !important; 
            font-size: 15px; 
        }
    }
    &-progress {
        padding-top: 3px; 
        color: $red;
        font-size: 15px; 
    }

    .nego{
        color: $red;
    }

    .done{
        color: $green;
    }

    .progress{
        color: $green;
    }

    .archive{
        color: $grey;
    }
}