.user_login {
    position: relative; 
    height: 100vh;
    background-color: $grey; 
    &-logo {
        width: 225px;
        height: 30px;
        margin: 0 auto 75px;
        img {
            width: 100%; 
        }
    }
    &-wrap {
        position: absolute; 
        width: 90%;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
    }
    &-stg input{
        width: 100%;
        height: 30px; 
        border-bottom: 1px solid $blue; 
        margin-bottom: 10px; 
        background-color: $grey;
        &::placeholder{ 
            color: $blue-light;
            font-size: 16px; 
            line-height: 18px;
        }
    }
    .btn {
        width: 160px;
        margin-top: 70px; 
        background-color: $grey;
    }
}