.project-switch-state{
    position:absolute;
    left: 35px;
    top:10px;
    p{
        display:inline-block;
        vertical-align: top;
        color: $beige;
    }
}

.project_detail{
    padding: 20px;
    .project_title{
        text-align:center;
        h2{
            color: $blue;
            font-size: 30px;
            font-weight: bold;
        }

        h3{
            color: $blue-light;
            font-weight: 400;
            a{
                color: $beige;
            }
        }
    }

    .project_description{
        text-align: center;
        font-size: 16px;
        margin: 28px 28px 35px;
        color: $blue-light;
        font-weight: 400;
    }

    .project_milestone{
        ul{
            margin-top:25px;
            margin-left:25px;
            position: relative;
            li {
                padding: 0 0 10px 25px;
                text-align: left;
                height: 45px;
                border-left: 5px solid $darker-grey;
                font-weight: 400;
                &:last-child {
                    border-left: 5px solid $grey;
                    &:before {
                        background-color: $darker-grey;
                    }
                }
                input{
                    background-color: $grey;
                    width: 100px;
                    border-bottom: solid 1px $blue;
                    height: 22px;
                    margin-top: 0;
                }
                p {
                    font-size: 15px; 
                    color: $blue;
                }
            }
            li:before {
                position: absolute;
                left: 0; 
                content: ''; 
                display: inline-block;
                width: 22px;
                height: 22px; 
                transform: translateX(-40%);
                border-radius: 50%; 
                background-color: $darker-grey;
            }
            li.add-mile:before{
                content: " + ";
                text-align: center;
                
            }
            li.check{
                border-left: 5px solid $green-light !important;
            }
            li.check:before{
                background-color: $green-light;
            }
        }
    }

    .archieve{
        color: $darker-grey;
        text-align: center;
        font-weight:bold;
        font-size: 15px;
        display: block;
        margin-top: 40px;
    }
}

.background{
    background-color: $grey;
}

.part1{
    padding-top:65px;
}

.projectStatus{
    position: absolute;
    left: 68px;
    top: 13px;
}