//page details (page 2)

.nav {
    position: absolute;
    right: 25px;
    top: 15px;
    a{
        color: $beige;
        font-size: 15px;
    }
    input{
        margin: 0 0 20px;
    }
    .link {
        font-size: 15px;
        color: $beige;
        background: none;
        color: $beige;
    }
    
}

.user_details {
    margin-top: 154px;

    &-logo {
        position: absolute;
        left: 15px;
        top: 63px;
        img {
            width: 70px;
            height: 70px;
            border-radius: 50%; 
        }
    }
    &-wrap {
        width: 100%;
        background: #fff;
    }
    &-firstname {
        position: absolute;
        width: 60%;
        left: 95px;
        top: 63px;
        font-size: 18px;
    }
    &-lastname {
        position: absolute;
        width: 60%;
        left: 95px;
        top: 90px;
        font-size: 18px;
    }
    &-firme {
        position: absolute;
        width: 60%;
        top: 115px;
        left: 95px;
        color: #92aa9d;
    }
    &-infos {
        padding: 12.5px 20px;
        color: $blue-light;
        font-size: 16px;
        font-weight: 400;
    }
    &-projects {
        margin-top: 30px;
        font-size: 18px;
        margin-bottom: 10px;
        &--title {
            h2 {
                margin: 0 20px;
                padding-bottom: 15px;
            }
        }
        &--list-projects {
            padding: 0 20px;
            li {
                color: #92aa9d;
                margin-bottom: 15px !important; 
                font-size: 16px;
            }
        }
    }
    &-humeur {
        clear: both;
        font-size: 18px;
        &--title {
            margin: 27px 0 20px 20px;
        }
    }

}

.user_details-humeur {
    &--emoji {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 5px;
        background: #ffff;
        img {
            width:25px;
            &.active {
                width: 45px;
            }

        }
        input{
            width:0;
            height:0;
            overflow: hidden;
        }
    } 
    &--cursor {
        margin: 0 20px;
        position: relative;
        img {
            width: 100%;
        }
        .money {
            width: 35px;
            position: absolute;
            top: -7px;
        }
        .rocket {
            width: 45px;
            position: absolute;
            top: 7px;
        }
        
    }
    
}
.user_details-birthday--wrapper {
    margin-top: 30px;
    color: #92aa9d;
}
.user_details-birthday--title{
    h2 {
        margin: 0 20px;
        padding-bottom: 15px;
    }
}
.user_details-birthday {
    margin-bottom: 30px;
    input{
        font-size:15px;
        border-bottom: 1px solid $blue-light;
    }
    div {
        margin-bottom: 30px;
        padding: 0 20px;
        
        span {
            color: $green-light;
        }
    }
}
.user_details-notes {
    h2 {
        margin: 0 20px;
        padding-bottom: 15px;
    }
    .notes {
        width: 100%;
        height: 100px;
        margin-bottom: 30px;
        background-color: $white;
        padding: 5px;
        font-size: 15px;
    }
}


.user_details-projects--list-projects--wrap {
    width: 100%;
    padding-bottom: 20px;
    color: $blue-light;
    .user_details-projects--list-projects--name {
        width: 49%;
        display: inline-block;
        a{
            color: $beige;
        }
    }
    .user_details-projects--list-projects--progress {
        width: 50%;
        float: left;
    }
}

.addProject{
    width: 80%;
    margin: 25px auto 42px;
    text-align: center;
}

.user_details input{
    background: none;
    border-bottom: 1px solid $blue-light;
    font-size:15px;
}

.changeTaille{
    font-size:13px;
}