{% extends "adminBase.html.twig" %}

{% block body %}
    
    <div class="homefree-wrapp">
    </div>
    <h1>12 projets en cours</h1>

    <a href="/projects">Liste des projets</a>
    <a href="/clients">Liste des clients</a>
{% endblock %}
